spring:
  main:
    banner-mode: "off"
  jersey:
    type: filter
  resources:
    static-locations: file:./config/static/,classpath:/static/

logging.level:
  org.dotwebstack.framework: INFO
  org.dotwebstack.ldtlegacy: DEBUG

dotwebstack:
  config:
    aquoroot:
    resourcePath: file:../config
    host: localhost
    linkstrategy: global
    systemGraph: http://dotwebstack.org/configuration/Theatre
